<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      th:href="@{/img/SHOWGO/1.png}"
      href="../static/img/SHOWGO/1.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
    />
    <title>SHOWGO</title>
  </head>

  <body id="index-body">
    <header>
      <nav></nav>
    </header>

    <main id="index-main">
      <span class="index-main">
        <img
          class="index-main__img"
          th:src="@{img/SHOWGO/1.png}"
          src="../static/img/SHOWGO/1.png"
          alt=""
        />
        <h1 class="index-main__title">최애 배우의 공연을 한손에!</h1>
        <p class="index-main__subtitle">
          수많은 공연...공연 시간대마다 매번 달라지는 배우들...<br />내가
          보고싶은 배우를 내가 원하는 시간에 볼 수 없을까?
        </p>
        <div class="index-main__column">
          <a class="index-main__go" href="concerts.html" th:href="@{/search}"
            >SHOW GO!</a
          >
        </div>
        <div class="index-main__column">
          <a class="index-main__log-in" href="login.html">로그인</a>
          <a class="index-main__sign-in" href="signin.html">회원가입</a>
        </div>
      </span>
    </main>

    <script
      src="https://kit.fontawesome.com/df25e700c0.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
