<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      th:href="@{/img/SHOWGO/1.png}"
      href="../static/img/SHOWGO/1.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../static/css/style.css"
    />
    <title>SHOWGO</title>
  </head>
  <body>
    <header>
      <nav></nav>
    </header>

    <main id="search-main">
      <form
        id="search-form"
        th:action="@{/search/list(page=${param.page})}"
        th:object="${concertSearch}"
        method="get"
      >
        <!--Page Value-->
        <input type="hidden" name="page" value="1" />

        <!-- GenreType -->
        <div id="genreType" class="radio-selector">
          <th:block th:each="type: ${genreTypes}">
            <label>
              <input
                type="radio"
                name="genreType"
                th:field="*{genreCond}"
                th:value="${type.name()}"
              />
              <span th:text="${type.description}">타입</span>
            </label>
          </th:block>
        </div>

        <!-- StatusType -->
        <div id="statusType" class="radio-selector">
          <th:block th:each="type : ${statusTypes}">
            <label>
              <input
                type="radio"
                name="statusType"
                th:field="*{statusCond}"
                th:value="${type.name()}"
              />
              <span th:text="${type.description}">타입</span>
            </label>
          </th:block>
        </div>

        <!-- 공연 검색 창 -->
        <div id="search-main__keyword">
          <input
            class="search-main__keyword-input"
            type="text"
            placeholder="공연 이름을 입력하세요."
            th:field="*{showName}"
          />
          <input
            class="search-main__keyword-input"
            type="text"
            placeholder="공연 장소를 입력하세요."
            th:field="*{showPlace}"
          />
        </div>

        <!-- 날짜 선택 창 -->
        <div id="search-main__date-picker">
          <input
            type="text"
            class="search-main__date-picker-input dateRange"
            th:field="*{startEndDate}"
            readonly
          />
        </div>

        <!-- 검색 -->
        <button type="submit">GO! GO! GO!</button>
      </form>

      <!-- 공연 검색 리스트 -->
      <p th:if="${resultEmpty}">
        <script th:if="${page!=1}" type="text/javascript">
          alert("마지막 페이지입니다");
          history.go(-1);
        </script>
        검색 결과가 없습니다
      </p>
      <div class="search-info">
        <th:block th:each="concert : ${shows}">
          <div class="search-info__card">
            <img
              class="search-info__card-image"
              src="../static/img/SHOWGO/2.png"
              alt=""
              th:src="${concert.getPoster_URL()}"
            />
            <span class="search-info__card-name">
              <h3 th:text="${concert.getTitle()}">공연 이름</h3>
            </span>
            <span class="search-info__card-date">
              <span
                class="search-info__card-text"
                th:text="${concert.getPlace()}"
              >
                공연 장소</span
              >
            </span>
            <span class="search-info__card-status">
              <span
                class="search-info__card-text"
                th:text="|${concert.getStDate()}   -   ${concert.getEdDate}|"
              >
                공연 날짜</span
              >
            </span>
            <span class="search-info__card-genre">
              <span
                class="search-info__card-text"
                th:text="${concert.getStatus()}"
              >
                공연 상태</span
              >
            </span>
            <span class="search-info__card-place">
              <span
                class="search-info__card-text"
                th:text="${concert.getGenre()}"
              >
                공연 장르</span
              >
            </span>
            <span class="search-info__card-link">
              <a href="#" th:href="@{info(show=${concert.getId()})}"
                >보러가기</a
              >
            </span>
          </div>
        </th:block>
      </div>

      <!-- 페이징 -->
      <div id="search-page" th:if="${shows!=null}">
        <th:block th:if="${!resultEmpty}">
          <th:block th:object="${concertSearch}">
            <a
              class="search-page__prev"
              href="#"
              type="button"
              th:if="${page != 1}"
              th:href="@{/search/list(page=${page}-1, statusCond=*{statusCond.name()},
                           genreCond=*{genreCond.name()}, showPlace=*{showPlace},
                           showName=*{showName},startEndDate=*{startEndDate})}"
            >
              이전 페이지</a
            >
            <a
              class="search-page__next"
              href="#"
              type="button"
              th:href="@{/search/list(page=${page}+1, statusCond=*{statusCond.name()},
                           genreCond=*{genreCond.name()}, showPlace=*{showPlace},
                           showName=*{showName},startEndDate=*{startEndDate})}"
            >
              다음 페이지</a
            >
          </th:block>
        </th:block>
      </div>
    </main>

    <script
      src="https://kit.fontawesome.com/df25e700c0.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="../static/js/dateRangePicker.js"
      th:src="@{/js/dateRangePicker.js}"
    ></script>
  </body>
</html>
