<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      th:href="@{/img/SHOWGO/1.png}"
      href="../img/SHOWGO/1.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
      href="../css/style.css"
    />
    <title>SHOWGO</title>
  </head>

  <body id="signin-body">
    <header>
      <nav></nav>
    </header>

    <main id="signin-main">
      <h1 class="signin-main__title">회원가입</h1>
      <input class="signin-main__id" placeholder="아이디" type="text" />
      <input
        class="signin-main__password"
        placeholder="비밀번호"
        type="password"
      />
      <input
        class="signin-main__password"
        placeholder="비밀번호 확인"
        type="password"
      />
      <form class="sign-form">
        <div class="signin-main__column">
          <a class="signin-main__log-in" href="search.html" th:href="@{/search}"
            >회원가입</a
          >
          <a class="signin-main__back" href="signin.html">뒤로가기</a>
        </div>
      </form>
    </main>

    <script
      src="https://kit.fontawesome.com/df25e700c0.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
