@keyframes indexForwardsBase {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes indexForwardsUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}

#index-body {
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
#index-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  animation: indexForwardsBase 1.5s ease-in-out forwards;
}

.index-main__img {
  width: 140px;
  height: 140px;
  border-radius: 30%;
  opacity: 0;
  animation: indexForwardsUp 1s 1.5s ease-in-out forwards;
}
.index-main__title,
.index-main__subtitle {
  position: relative;
  opacity: 0;
}

.index-main__title {
  color: white;
  animation: indexForwardsUp 1s 1.5s ease-in-out forwards;
}

.index-main__subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  margin-bottom: 60px;
  animation: indexForwardsUp 1.4s 1.5s ease-in-out forwards;
}

.index-main__column {
  opacity: 0;

  margin-bottom: 30px;
  animation: indexForwardsUp 1.5s 1.5s ease-in-out forwards;
}

.index-main__go {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 1);
  color: white;
}

.index-main__column:last-child a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(126, 249, 255, 0.5);
  color: white;
  margin: 0px 5px;
}
