@keyframes loginForwardsBase {
  from {
    width: 50%;
  }
  to {
    width: 30%;
  }
}

@keyframes loginForwardsUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}

#login-body {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
#login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  animation: loginForwardsBase 1s ease-in-out forwards;
}

.login-main__title,
.login-main__id,
.login-main__password {
  opacity: 0;
  animation: loginForwardsUp 1s 1s ease-in-out forwards;
}

.login-main__title {
  font-size: 45px;
  color: white;
  margin-bottom: 60px;
}

.login-main__id,
.login-main__password {
  width: 50%;
  border-radius: 13px;
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  z-index: 3;
  background-color: white;
  color: black;
}

.login-main__id {
  margin-bottom: 13px;
}

.login-main__password {
  margin-bottom: 60px;
}

.login-main__column {
  margin-bottom: 30px;
  opacity: 0;

  animation: loginForwardsUp 1.4s 1s ease-in-out forwards;
}

.login-main__log-in,
.login-main__back,
.login-main__sign-in {
  text-decoration: none;
  border-radius: 10px;
  color: white;
}

.login-main__log-in {
  padding: 10px 50px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(128, 128, 128, 0.4);
}

.login-main__back {
  padding: 5px 15px;
  background-color: rgba(0, 162, 79, 0.4);
}

.login-main__sign-in {
  padding: 5px 15px;

  background-color: rgba(126, 249, 255, 0.4);
}
