@keyframes gliterBtn {
  0% {
    background-color: var(--main-color);
    color: white;
  }
  50% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: var(--main-color);
    color: white;
  }
}

@keyframes gliterText {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

#search-main,
#search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#genreType {
  margin-top: 50px;
  margin-bottom: 10px;
}

#statusType {
  margin-bottom: 10px;
}

#search-main__keyword,
#search-main__date-picker {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 5.5vh;
}

.search-main__keyword-input,
.search-main__date-picker-input {
  border-radius: 10px;
  border: var(--button-border);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  margin: 0 3px;
  font-size: 17px;
  padding: 0 15px;
}

.search-main__keyword-input:focus,
.search-main__date-picker-input:focus {
  opacity: 1;
  border: 3px solid var(--main-color);
}

#search-form button {
  width: 90%;
  height: 5.5vh;
  border-radius: 15px;
  background-color: var(--main-color);
  color: white;
  border: var(--button-border);
  font-size: 20px;
  margin-bottom: 20px;
}

#search-form button:hover {
  animation: gliterBtn 1.5s ease-in-out infinite;
}

.search-info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.search-info__card {
  border: var(--selector-border);
  border-radius: 15px;
  width: 21.5vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.search-info__card-image {
  width: 100%;
  height: 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 0;
  padding: 0;
}

.search-info__card h3 {
  text-align: center;
}

.search-info__card > span {
  width: 100%;
  border-top: var(--selector-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-info__card > span:nth-child(2) {
  height: 10%;
}

.search-info__card > span:not(:nth-child(2)) {
  height: 6%;
}

.search-info__card-link {
  background-color: var(--main-color);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-info__card-link:hover {
  animation: gliterBtn 1.5s ease-in-out infinite;
}

.search-info__card-link a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-info__card-link:hover a {
  animation: gliterText 1.5s ease-in-out infinite;
}

.search-info__card-text {
  padding: 5px 10px;
  background-color: #7052d0;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
}

#search-page {
  display: flex;
  flex-direction: row;
  width: 90%;
}

#search-page a {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #7052d0;
  margin: 0 1px;
  border: var(--button-border);
  font-weight: 600;
}

#search-page a:hover {
  animation: gliterBtn 1.5s ease-in-out infinite;
}

.search-page__prev,
.search-page__next {
  border-radius: 15px;
}
