@keyframes starHover {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#searchDetails-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.details-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  border: 4px solid var(--main-color);
  border-radius: 15px;
  margin-bottom: 100px;
}

.details-card__img {
  width: 40%;
  height: 80vh;
  position: relative;
}

.details-card__img img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.details-card__img span {
  border-radius: 10px;
  background-color: white;
  font-size: 40px;
  padding: 5px;
  top: 15px;
  right: 15px;
  color: #eebc11;
  opacity: 0.5;
  position: absolute;
}

.details-card__img span:hover {
  animation: starHover 2s ease-in-out infinite;
}

.details-card__info,
.details-card__info-title,
.details-card__info-column,
.details-card__info-detail,
.details-card__info-source {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-card__info {
  flex-direction: column;
  width: 60%;
  height: 80vh;
}

.details-card__info-title {
  height: 12%;
  width: 100%;
  font-size: 40px;
}
.details-card__info-column {
  height: 8%;
  width: 100%;
  border-top: 2px solid var(--main-color);
}

.details-card__info-detail {
  width: 20%;
  height: 70%;
  margin: 0 10px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.details-card__info-source {
  width: 80%;
  height: 100%;
  font-size: 20px;
}

.details-card__story-img {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.details-card__story-img img {
  width: 100%;
  margin-bottom: 10px;
}
