@keyframes signinForwardsBase {
  from {
    width: 0%;
  }
  to {
    width: 40%;
  }
}

@keyframes signinForwardsUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}

#signin-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
#signin-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  animation: signinForwardsBase 1s ease-in-out forwards;
}

.signin-main__title,
.signin-main__id,
.signin-main__password {
  opacity: 0;
  animation: signinForwardsUp 1s 1s ease-in-out forwards;
}

.signin-main__title {
  font-size: 45px;
  color: white;
  margin-bottom: 60px;
}

.signin-main__id,
.signin-main__password {
  width: 50%;
  border-radius: 13px;
  border: none;
  padding: 15px 20px;
  font-size: 20px;
  background-color: white;
  color: black;
}

#signin-main > input:not(:nth-child(4)) {
  margin-bottom: 13px;
}

.signin-main__password:nth-child(4) {
  margin-bottom: 50px;
}

.signin-main__column {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: signinForwardsUp 1.4s 1s ease-in-out forwards;
}

.signin-main__log-in,
.signin-main__back {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 50px;
  border-radius: 10px;
  color: white;
}
.signin-main__log-in {
  background-color: rgba(128, 128, 128, 0.4);
  margin-bottom: 10px;
}
.signin-main__back {
  background-color: rgba(0, 162, 79, 0.4);
}
